.container {
    display: flex;
    gap: 4rem;
}
.player-container {
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
    gap: .5rem;
    justify-items: center;
}

.cpu-container {
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
    gap:.5rem;
    justify-items: center;
}

.area {
    width: 3rem;
    height: 3rem;
    background-color: rgb(194, 194, 194);
}

.hit {
    background-color: rgb(51, 255, 0);
}

.selecting {
    background-color: blue;
}

.error {
    background-color: red ;
}

.placed {
    background-color: blueviolet;
}
