body {
    font-size: 8px;
}
.container {
    display: flex;
    flex-direction: column;
}
h2 {
    font-size: 1.7rem;
}
.announcements {
    font-size: 1.5rem;
}
.sub-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.player-header {
    font-size: 1.5rem;
}
.cpu-header {
    font-size: 1.5rem;
}
.player-container {
    display: grid;
    grid-template-columns: repeat(10, 1.2rem);
    grid-template-rows: repeat(10, 1.2rem);
    gap: .3rem;
    justify-items: center;
}

.cpu-container {
    display: grid;
    grid-template-columns: repeat(10, 1.2rem);
    grid-template-rows: repeat(10, 1.2rem);
    gap:.3rem;
    justify-items: center;
}

.area {
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgb(116, 116, 116);
}

.selecting {
    background-color: blue;
}

.error {
    background-color: red ;
}


.placed {
    background-color: blueviolet;
}

.hit {
    background-color: rgb(255, 0, 0);
}

.miss {
    background-color: rgb(211, 211, 211);
}







