body {
    display: flex;
    gap: 6rem;
}

.player-container {
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
    gap: .5rem;
    justify-items: center;
}

.cpu-container {
    display: grid;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
    gap:.5rem;
    justify-items: center;
}

.area {
    width: 3rem;
    height: 3rem;
    background-color: green;
}

.hit {
    background-color: red;
}
